mysite/_pycache_/*

berita/migrations/*
berita/_pycache_/*

pengguna/migrations/*
pengguna/_pycache_/*

.DS_Store

# Environment variables (rahasia)
.env

# Python cache
__pycache__
*.pyc
*.pyo

# Database lokal
db.sqlite3

# Virtual environment
env/
env_new/
venv/