mysite/_pycache_/*

berita/migrations/*
berita/_pycache_/*

pengguna/migrations/*
pengguna/_pycache_/*

.DS_Store

# Environment files
.env
.env.local
.env copy

# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python

# Virtual environment
env/
venv/
ENV/
env_new/

# Django
*.log
db.sqlite3
db.sqlite3-journal
staticfiles/

# Backup files
*.json.bak
backup_mysql_lokal.json
data_backup*.json
data_clean.json
