{% extends 'halaman/base.html' %}
{% load static %}

{% block content %}
<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('{% static 'halaman/assets/img/background03.jpg' %}')">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="title">About Us</h1>
            </div>
        </div>
    </div>
</div> 

<div class="main main-raised">
    <div class="container">

        <!-- VISI & MISI DINAS PARIWISATA KALTIM -->
        <div class="vision-mission">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="title">Visi & Misi</h2>

                    <h3 class="subtitle">Visi</h3>
                    <p class="description" style="color: #212020;">
                        Meningkatnya kontribusi sektor pariwisata dan ekonomi kreatif terhadap pembangunan ekonomi daerah di Kalimantan Timur.
                    </p>

                    <h3 class="subtitle">Misi</h3>
                    <ol class="description" style="color:#212020; text-align: justify;">
                        <li>Meningkatkan jumlah kunjungan wisatawan nusantara dan mancanegara ke Kalimantan Timur, melalui promosi dan pengembangan destinasi unggulan.</li>
                        <li>Meningkatkan nilai tambah sektor ekonomi kreatif daerah melalui pengembangan pariwisata, ekowisata, seni dan budaya lokal.</li>
                        <li>Memperkuat kualitas layanan pengembangan destinasi wisata dan budaya untuk daya saing pariwisata Kalimantan Timur di tingkat nasional dan internasional.</li>
                    </ol>
                </div>
            </div>
        </div>

        <!-- SEJARAH DINAS PARIWISATA -->
        <div class="company-history">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="title">Sejarah Dinas Pariwisata Kaltim</h2>
                    <p class="description" style="text-align: justify; color: #212020; text-indent: 30px;">
                        Dinas Pariwisata Provinsi Kalimantan Timur (Dispar Kaltim) adalah instansi pemerintah daerah yang bertugas dalam pengelolaan potensi wisata dan pengembangan ekonomi kreatif di wilayah Kalimantan Timur. Peran Dispar Kaltim mencakup penyusunan kebijakan dan strategi pariwisata, penguatan SDM pariwisata, serta peningkatan kualitas destinasi dan layanan wisata, guna mendukung pertumbuhan kunjungan wisatawan dan nilai tambah ekonomi kreatif daerah.
                    </p>

                    <p class="description" style="text-align: justify; color: #212020; text-indent: 30px;">
                        Lebih jauh, Dispar Kaltim ikut aktif dalam berbagai program strategis pengembangan *desa wisata*, pemasaran pariwisata berkualitas, serta peningkatan sinergi lintas sektor untuk memperkuat sektor pariwisata yang berkelanjutan di Kalimantan Timur.
                    </p>

                </div>
            </div>
        </div>

        <!-- STRUKTUR ORGANISASI -->
     <!--<div class="organization-structure">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="title">Struktur Jabatan</h2>
                    <img src="{% static 'halaman/assets/img/contoh1.jpg' %}" alt="Struktur Jabatan" class="img-responsive" style="margin: 0 auto;">
                    <p class="description">Gambar di atas menunjukkan struktur jabatan dalam Dinas Pariwisata Provinsi Kalimantan Timur.</p>
                </div>
            </div>
        </div>-->

    </div>
</div>
{% endblock content %}
